.about {
  text-align: center;
  padding: 2rem;
  background-color: var(--color-fondo);
  color: var(--color-texto-claro);
}

.about h2 {
  font-size: 2.5rem;
  color: var(--color-secundario);
  margin-bottom: 1rem;
  font-family: var(--fuente-principal), cursive;
}

.about .content {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.8;
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 10px;
}
