.about {
  margin-top: 20px;
  text-align: center;
  padding: 3rem 2rem;
  background: linear-gradient(
    180deg,
    var(--color-secundario),
    var(--color-fondo) 20%
  );
  color: var(--color-texto);
  border-radius: 10%;
  box-shadow: 10px 10px 20px var(--color-sombra-externa);
}

.content {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.3rem;
  line-height: 2;
  background: var(--color-fondo);
  padding: 1.5rem;
  border-radius: 20px;
  border: 1px solid var(--color-borde-destello);
  box-shadow: 0 6px 12px var(--color-sombra-interna);
  transition: transform var(--transicion);
}

.content:hover {
  transform: scale(1.02);
}

.about .content p {
  margin-bottom: 1.5rem;
  text-align: center;
}

.about .content p span {
  font-weight: bold;
  color: var(--color-texto-claro);
  text-shadow: 0 0 5px var(--color-destello);
}
