.footer {
  text-align: center;
  padding: 1rem;
  background: var(--color-principal);
  color: var(--color-texto-claro);
  border-top: 2px solid var(--color-secundario);
  font-family: var(--fuente-principal), cursive;
}
