.footer {
  background: radial-gradient(
    ellipse at center,
    var(--color-principal) 0%,
    var(--color-secundario) 100%
  );
  padding: 2rem;
  text-align: center;
  color: var(--color-texto-claro);
  border-top: 1px solid var(--color-sombra-externa);
  box-shadow: 0 -4px 15px var(--color-sombra-externa);
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
}

.footerText {
  font-size: 1.2rem;
  color: var(--color-texto);
  margin-bottom: 1rem;
  font-family: var(--fuente-principal);
}

.footerText span {
  font-size: 1.5rem;
  color: var(--color-secundario);
}
