.Balls3D {
  padding: 2rem;
  text-align: center;
  background-color: var(--color-fondo);
  background-image: url("src/assets/estrellas.png");
}

.canvasContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.canvasWrapper {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.canvas {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-texto-claro);
  font-weight: bold;
  box-shadow: 0 4px 6px var(--color-sombra-externa);
  position: relative;
  transition: transform var(--transicion), box-shadow var(--transicion);
}

.canvas::before,
.canvas::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  background: radial-gradient(
    var(--color-destello),
    var(--color-destello-secundario)
  );
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  pointer-events: none;
}

.canvas:hover::before,
.canvas:hover::after {
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 1;
  animation: lightPulse 1.5s infinite ease-in-out;
}

@keyframes lightPulse {
  0% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0.8;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.4);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0.8;
  }
}

.insideBall {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.projectImageWrapper {
  width: 100px;
  height: 100px;
  background: radial-gradient(
    circle at center,
    var(--color-texto-claro) 0%,
    var(--color-principal) 80%,
    var(--color-secundario) 100%
  );
  border: 4px solid var(--color-borde-destello);
  border-radius: 50%;
  box-shadow: inset 0 0 15px var(--color-hover-destello),
    0 5px 15px var(--color-sombra-externa);
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  transition: transform var(--transicion), box-shadow var(--transicion);
}

.projectImagesWrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.projectImage {
  width: 90%;
  height: 90%;
  object-fit: cover;
  transform: scale(1.05);
}

.projectImageWrapper:hover {
  box-shadow: inset 0 0 20px var(--color-hover-destello),
    0 10px 40px var(--color-principal);
  transform: scale(3);
  z-index: 100;
}

.projectImageWrapper::after {
  content: "";
  position: absolute;
  top: 15%;
  left: 15%;
  width: 50%;
  height: 50%;
  background: radial-gradient(circle, var(--color-hover-destello), transparent);
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 15px var(--color-hover-destello);
}

.projectCard {
  background: linear-gradient(
    90deg,
    var(--color-principal),
    var(--color-secundario)
  );
  border-radius: 12px;
  padding: 1.5rem;
  margin-top: 1.5rem;
  box-shadow: 0 8px 15px var(--color-sombra-externa);
  transition: transform var(--transicion), box-shadow var(--transicion);
}

.projectCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px var(--color-sombra-externa);
}

.projectResumeCard {
  background: linear-gradient(45deg, #602e0a, var(--color-fondo));
  border: 2px solid var(--color-texto-claro);
  border-radius: 12px;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
  box-shadow: 0 4px 6px var(--color-sombra-externa);
  transition: transform var(--transicion), box-shadow var(--transicion);
}

.projectResumeCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px var(--color-sombra-externa);
}

.projectDescription {
  margin-top: 10px;
  padding: 10px;
  background-color: var(--color-fondo);
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  transition: max-height var(--transicion);
}

.projectDescription p {
  margin: 0;
}

.projectLink {
  display: inline-block;
  text-decoration: none;
  color: var(--color-texto-claro);
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.75rem 1.5rem;
  background: linear-gradient(
    45deg,
    var(--color-secundario),
    var(--color-principal)
  );
  border-radius: 20px;
  box-shadow: 0 4px 6px var(--color-sombra-externa);
  transition: background var(--transicion), transform var(--transicion),
    box-shadow var(--transicion);
}

.projectLink:hover {
  background: linear-gradient(45deg, #d946ef, var(--color-secundario));
  transform: scale(1.05);
  box-shadow: 0 8px 12px var(--color-sombra-externa);
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--color-principal);
  color: var(--color-texto-claro);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color var(--transicion);
}

button:hover {
  background-color: var(--color-secundario);
}
