:root {
  --color-principal: #2a1b6a;
  --color-secundario: #710e79;
  --color-texto: #e0e7ff;
  --color-texto-claro: #ffffff;
  --color-fondo: #12002b;

  --color-destello: rgba(176, 67, 245, 0.4);
  --color-destello-secundario: rgba(86, 232, 255, 0.5);
  --color-hover-destello: rgba(255, 255, 255, 0.8);
  --color-borde-destello: rgba(145, 50, 204, 0.5);
  --color-sombra-externa: rgba(0, 0, 0, 0.6);

  --fuente-principal: "Poppins", sans-serif;

  --transicion: 0.3s ease;
}

/* Reset y estilos base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fuente-principal);
  background-color: var(--color-fondo);
  color: var(--color-texto);
  line-height: 1.5;
}
