:root {
  --color-principal: #2a1b6a;
  --color-secundario: #710e79;
  --color-texto: #e0e7ff;
  --color-texto-claro: #ffffff;
  --color-fondo: #12002b;

  --color-destello: rgba(134, 216, 227, 0.151);
  --color-destello-secundario: rgba(224, 255, 86, 0.075);
  --color-hover-destello: rgba(255, 255, 255, 0.8);
  --color-borde-destello: rgba(230, 111, 251, 0.5);
  --color-sombra-externa: rgb(255, 255, 255);

  --fuente-principal: "Roboto", sans-serif;

  --transicion: 0.3s ease;
}

/* Reset y estilos base */
* {
  font-family: var(--fuente-principal);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  line-height: 1.5;
}

/* Estilos globales para botones */
button {
  margin-top: 10px;
  padding: 12px 24px;
  background: linear-gradient(
    45deg,
    var(--color-secundario),
    var(--color-principal)
  );
  color: var(--color-texto-claro);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  box-shadow: 0 6px 10px var(--color-sombra-externa),
    0 2px 4px var(--color-sombra-interna);
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background: linear-gradient(45deg, #d946ef, var(--color-secundario));
  transform: scale(1.1);
  box-shadow: 0 12px 20px var(--color-sombra-externa),
    0 4px 8px var(--color-sombra-interna);
}

/* Estilos globales para enlaces (a) */
a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-texto-claro);
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.6rem 1.2rem;
  background: linear-gradient(
    45deg,
    var(--color-secundario),
    var(--color-principal)
  );
  border-radius: 15px;
  box-shadow: 0 4px 6px var(--color-sombra-externa);
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

a:hover {
  background: linear-gradient(45deg, #d946ef, var(--color-secundario));
  transform: scale(1.05);
  box-shadow: 0 8px 12px var(--color-sombra-externa);
}
