.Balls3D {
  margin-top: 20px;
  padding: 2rem;
  text-align: center;
  border-radius: 10%;
  background: linear-gradient(
    180deg,
    var(--color-principal),
    var(--color-fondo),
    var(--color-fondo)
  );
}

.titleContainer {
  background: linear-gradient(
    135deg,
    var(--color-fondo),
    var(--color-principal)
  );
  border-radius: 20px;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 0 8px 15px var(--color-principal);
}

.Balls3D h2 {
  font-size: 2.5rem;
  font-family: var(--fuente-principal), cursive;
}

.canvasContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.canvasWrapper {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.canvas {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-texto-claro);
  font-weight: bold;
  position: relative;
  transition: transform var(--transicion);
}

.canvas::before,
.canvas::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  background: radial-gradient(
    var(--color-destello),
    var(--color-destello-secundario)
  );
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  pointer-events: none;
}

.canvas:hover::before,
.canvas:hover::after {
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 1;
  animation: lightPulse 1.5s infinite ease-in-out;
}

@keyframes lightPulse {
  0% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0.8;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.4);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0.8;
  }
}

.insideBall {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projectImagesWrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.projectImage {
  width: 100%;
  height: 100%;
}

.projectImageWrapper {
  width: 100px;
  height: 100px;
  border: 4px solid var(--color-borde-destello);
  border-radius: 50%;
  box-shadow: inset 0 0 15px var(--color-hover-destello),
    0 5px 15px var(--color-sombra-externa);
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  filter: blur(1.5px);
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.projectImageWrapper:hover {
  box-shadow: inset 0 0 20px var(--color-hover-destello),
    0 10px 40px var(--color-secundario);
  transform: scale(2.5);
  filter: blur(0);
  z-index: 10;
}

.projectImageLink {
  display: block;
  width: 100%;
  height: 100%;
}

.projectCard {
  background: radial-gradient(
    circle,
    var(--color-principal),
    var(--color-fondo)
  );
  border-radius: 10%;
  padding: 1.5rem;
  margin-top: 1.5rem;
  box-shadow: 0 8px 15px var(--color-principal);
  transition: transform var(--transicion), box-shadow var(--transicion);
}

.projectCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px var(--color-secundario);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20000000;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semitransparente */
}

.modalContent {
  background: var(--color-principal);
  padding: 2rem;
  border-radius: 15px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 12px var(--color-sombra-externa);
  position: relative;
  text-align: center;
  color: var(--color-texto-claro);
  font-family: var(--fuente-principal);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.techList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.techItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.techImage {
  width: 24px;
  height: 24px;
}
